@import "../../styles/variables/index.scss";

.Switch {
	all: unset;

	display: flex;
	justify-content: center;
	align-content: flex-start;
	padding: 12px;
	background: $color_general--light;
	border-radius: 15px;
	color: inherit;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	cursor: pointer;
	transition-property: box-shadow, transform;
	transition-duration: 0.3s, 0.3s;

	&:hover,
	&:focus {
		box-shadow: 0px 0px 0px 3px #00b7ff;
	}

	&:active {
		transform: scale(0.98);
	}
}
