@import "../../styles/variables/index.scss";

.Navigation {
	$padre: &;

	flex-basis: $layout_all--navigation--width;

	&__title {
		display: none;

		@media (max-width: $mediapoint_general--small-laptop) {
			display: block;
			color: $color_general--light;
			margin: $layout_mobile--padding * 2 $layout_mobile--padding $layout_mobile--padding;
			text-shadow: 0px 4px 4px rgba(13, 13, 13, 0.25);
		}
	}

	&__ul {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		@media (max-width: $mediapoint_general--small-laptop) {
			margin: 0 $layout_mobile--padding $layout_mobile--padding * 2;
		}
	}

	&__wrapper {
		margin: 1px 0;
		width: calc(100% - #{$layout_all--navigation--button-offset});
		transition-duration: 0.3s;

		&:hover {
			width: 100%;
		}

		@media (max-width: $mediapoint_general--small-laptop) {
			width: 100%;
		}

		&--active {
			width: 100%;

			#{$padre}__button {
				background: $color_general--light;

				&:hover,
				&:focus {
					padding-left: 0;
					background: rgba($color_general--light, 0.9);
				}
			}
		}
	}

	&__button {
		display: block;
		width: 100%;
		margin-left: auto;
		padding: 15px 0;
		text-align: center;
		font-style: normal;
		font-weight: 600;
		font-size: 27px;
		line-height: 32px;
		color: $color_default--dark;
		border: 2px solid $color_default--dark;
		background: rgba($color_general--light, 0.438);
		border-right-width: 0;
		border-radius: 15px 0px 0px 15px;
		cursor: pointer;
		outline: none;
		transition-duration: 0.3s;

		&:hover,
		&:focus {
			background-color: darken(rgba($color_general--light, 0.8), 15%);
			padding-left: $layout_all--navigation--button-offset;
		}

		&:active {
			width: calc(100% - 5px);
		}

		@media (max-width: $mediapoint_general--small-laptop) {
			border-radius: 20px;
			border-width: 2px;
			width: 100%;

			&:hover,
			&:focus {
				padding-left: 0;
				letter-spacing: 0.7px;
			}
			&:active {
				width: 100%;
			}
		}

		&--corn-mode {
			color: $color_case--dark--corn;
			border-color: $color_case--dark--corn;
		}
		&--buckwheat-mode {
			color: $color_case--dark--buckwheat;
			border-color: $color_case--dark--buckwheat;
		}
		&--rice-mode {
			color: $color_case--dark--rice;
			border-color: $color_case--dark--rice;
		}
		&--barley-mode {
			color: $color_case--dark--barley;
			border-color: $color_case--dark--barley;
		}
		&--wheat-mode {
			color: $color_case--dark--wheat;
			border-color: $color_case--dark--wheat;
		}
	}
}
