$color_default--dark: #000;
$color_general--light: #fff;
$color_case--dark--corn: #7b3300;
$color_case--dark--buckwheat: #542511;
$color_case--dark--rice: #895712;
$color_case--dark--barley: #553216;
$color_case--dark--wheat: #7a460e;
