$mediapoint_general--big-pc: 2000px;
$mediapoint_general--regular-pc: 1500px;
$mediapoint_general--big-laptop: 1200px;
$mediapoint_general--regular-laptop: 1000px;
$mediapoint_general--small-laptop: 800px;
$mediapoint_general--mobile: 600px;
$mediapoint_general--extra-small: 400px;
